@font-face {
    font-family: "Kaushan Script";
    src: url("../fonts/KaushanScript-Regular.ttf");
    }

body {
    font-family: "Open Sans","sans-serif";
}

.banner, h1, h2, h3, h4, h5, h6, a {
    font-family: "Kaushan Script";
}

.banner {

    background-image: url(../images/pexels-belle-co-1000445.jpg);
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}